@{
    ViewBag.Title = "ePlanning";
}

<div class="jumbotron">
    <h1>BELCORP</h1>
    <p class="lead">ePlanning es una aplicación......</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Carga</h2>
        <p>Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga </p>
        <p>Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga Carga </p>
    </div>
    <div class="col-md-4">
        <h2>Consulta</h2>
        <p>Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta </p>
        <p>Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta Consulta </p>
    </div>
    <div class="col-md-4">
        <h2>Edición</h2>
        <p>Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición </p>
        <p>Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición Edición </p>
    </div>

</div>