@{
    Layout = "~/Views/Home/Carga.cshtml";
}


@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <link href="~/Scripts/jquery.dropdown.css" rel="stylesheet" />
    <script src="~/Scripts/mock.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.dropdown.js"></script>

  


</head>
<body>

    <div class="dropdown-mul-2">
        jojolete
        <select style="display: none" name="" id="mul-2" multiple placeholder="Select">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="3" selected>Selected</option>
            <option value="4" disabled>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7" selected>Selectedttt1</option>
            <option value="8" selected>Selectedttt2</option>
        </select>
    </div>

    <script>
        var Random = Mock.Random;
        var json1 = Mock.mock({
            "data|10-50": [{
                name: function () {
                    return Random.name(true)
                },
                "id|+1": 1,
                "disabled|1-2": true,
                groupName: 'Group Name',
                "groupId|1-4": 1,
                "selected": false
            }]
        });
        $('.dropdown-mul-2').dropdown({
            limitCount: 20,
            searchable: true
        });
    </script>


</body>
</html>





