USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_d_EstadoArchivo]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_d_EstadoArchivo
DESCRIPCIÓN      : Permite eliminar de forma permanente un registro en la tabla EstadoArchivo por su primary key
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_d_EstadoArchivo
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_d_EstadoArchivo]
(
    	@IdEstado INT
)

AS
BEGIN

    SET NOCOUNT ON

    DELETE FROM [EstadoArchivo]
    WHERE    [IdEstado] = @IdEstado

END


GO
