USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_u_Consolidado]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_u_Consolidado
DESCRIPCIÓN      : Permite actualizar un registro en la tabla Consolidado
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_u_Consolidado
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_u_Consolidado]
(
    	@IdConsolidado BIGINT,
    	@IdCampanaPlaneacion INT,
    	@IdCampanaProceso INT,
    	@IdPalanca SMALLINT,
    	@UnidadesLimite TINYINT,
    	@NumeroEspacios TINYINT,
    	@IdPais TINYINT,
    	@CuentaOfertas INT,
    	@Binomio BIT,
    	@CUVPadre VARCHAR(10),
    	@CUV VARCHAR(10),
    	@CUCAntiguo VARCHAR(15),
    	@SAPAntiguo VARCHAR(9),
    	@BPCSGenericoAntiguo VARCHAR(9),
    	@BPCSTonoAntiguo VARCHAR(9),
    	@DescripcionGenericoAntiguo VARCHAR(500),
    	@DescripcionTonoAntiguo VARCHAR(500),
    	@Lanzamiento BIT,
    	@CUC VARCHAR(15),
    	@SAP VARCHAR(9),
    	@BPCSGenerico VARCHAR(9),
    	@BPCSTono VARCHAR(9),
    	@IndicadorGratis BIT,
    	@DescripcionSet VARCHAR(500),
    	@DescripcionProducto VARCHAR(500),
    	@DescripcionCatalogo VARCHAR(500),
    	@CompuestaVariable BIT,
    	@NumeroGrupo BIGINT,
    	@FactorCuadre BIT,
    	@FlagTop BIT,
    	@Tono VARCHAR(500),
    	@Marca VARCHAR(20),
    	@Categoria VARCHAR(500),
    	@Tipo VARCHAR(500),
    	@DescuentoSet DECIMAL(8, 5),
    	@ReglaSet DECIMAL(8, 5),
    	@GAPMNvsImpreso BIGINT,
    	@GAPUSDvsImpreso BIGINT,
    	@IndicadorCxC BIT,
    	@FactoRepeticion BIGINT,
    	@POUnitarioMN DECIMAL(21, 3),
    	@POSetMN DECIMAL(21, 3),
    	@PNSetMN DECIMAL(21, 3),
    	@PNUnitarioMN DECIMAL(21, 3),
    	@Unidades BIGINT,
    	@P1 BIT,
    	@P2 BIT,
    	@P3 BIT,
    	@P4 BIT,
    	@P5 BIT,
    	@P6 BIT,
    	@P7 BIT,
    	@Comentario VARCHAR(500),
    	@CODP VARCHAR(15),
    	@NumeroProductosOferta BIGINT,
    	@TipoPlan VARCHAR(100),
    	@IndicadorSubcampana BIT,
		@CantidadSAPDiferentes INT,
		@NumeroRepeticionesSAP INT,		
    	@UsuarioModificacion VARCHAR(100)
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE [Consolidado]
    SET     [IdCampanaPlaneacion] = @IdCampanaPlaneacion,
    	    [IdCampanaProceso] = @IdCampanaProceso,
    	    [IdPalanca] = @IdPalanca,
    	    [UnidadesLimite] = @UnidadesLimite,
    	    [NumeroEspacios] = @NumeroEspacios,
    	    [IdPais] = @IdPais,
    	    [CuentaOfertas] = @CuentaOfertas,
    	    [Binomio] = @Binomio,
    	    [CUVPadre] = @CUVPadre,
    	    [CUV] = @CUV,
    	    [CUCAntiguo] = @CUCAntiguo,
    	    [SAPAntiguo] = @SAPAntiguo,
    	    [BPCSGenericoAntiguo] = @BPCSGenericoAntiguo,
    	    [BPCSTonoAntiguo] = @BPCSTonoAntiguo,
    	    [DescripcionGenericoAntiguo] = @DescripcionGenericoAntiguo,
    	    [DescripcionTonoAntiguo] = @DescripcionTonoAntiguo,
    	    [Lanzamiento] = @Lanzamiento,
    	    [CUC] = @CUC,
    	    [SAP] = @SAP,
    	    [BPCSGenerico] = @BPCSGenerico,
    	    [BPCSTono] = @BPCSTono,
    	    [IndicadorGratis] = @IndicadorGratis,
    	    [DescripcionSet] = @DescripcionSet,
    	    [DescripcionProducto] = @DescripcionProducto,
    	    [DescripcionCatalogo] = @DescripcionCatalogo,
    	    [CompuestaVariable] = @CompuestaVariable,
    	    [NumeroGrupo] = @NumeroGrupo,
    	    [FactorCuadre] = @FactorCuadre,
    	    [FlagTop] = @FlagTop,
    	    [Tono] = @Tono,
    	    [Marca] = @Marca,
    	    [Categoria] = @Categoria,
    	    [Tipo] = @Tipo,
    	    [DescuentoSet] = @DescuentoSet,
    	    [ReglaSet] = @ReglaSet,
    	    [GAPMNvsImpreso] = @GAPMNvsImpreso,
    	    [GAPUSDvsImpreso] = @GAPUSDvsImpreso,
    	    [IndicadorCxC] = @IndicadorCxC,
    	    [FactoRepeticion] = @FactoRepeticion,
    	    [POUnitarioMN] = @POUnitarioMN,
    	    [POSetMN] = @POSetMN,
    	    [PNSetMN] = @PNSetMN,
    	    [PNUnitarioMN] = @PNUnitarioMN,
    	    [Unidades] = @Unidades,
    	    [P1] = @P1,
    	    [P2] = @P2,
    	    [P3] = @P3,
    	    [P4] = @P4,
    	    [P5] = @P5,
    	    [P6] = @P6,
    	    [P7] = @P7,
    	    [Comentario] = @Comentario,
    	    [CODP] = @CODP,
    	    [NumeroProductosOferta] = @NumeroProductosOferta,
    	    [TipoPlan] = @TipoPlan,
    	    [IndicadorSubcampana]=@IndicadorSubcampana,
			[CantidadSAPDiferentes]=@CantidadSAPDiferentes,
    	    [UsuarioModificacion] = @UsuarioModificacion,
    	    [FechaModificacion] = GETDATE()
    WHERE    [IdConsolidado] = @IdConsolidado
END


GO
