USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_u_Dominio]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_u_Dominio
DESCRIPCIÓN      : Permite actualizar un registro en la tabla Dominio
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_u_Dominio
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_u_Dominio]
(
    	@IdDominio INT,
    	@DescripcionLarga VARCHAR(500),
    	@DescripcionCorta VARCHAR(100),
    	@IndicadorVigencia BIT,
    	@Nemonico VARCHAR(100),
    	@CamposAdicionales TINYINT,
    	@DescripcionCampo1 VARCHAR(100),
    	@DescripcionCampo2 VARCHAR(100),
    	@DescripcionCampo3 VARCHAR(100),
    	@DescripcionCampo4 VARCHAR(100),
    	@DescripcionCampo5 VARCHAR(100),
    	@UsuarioModificacion VARCHAR(100)
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE [Dominio]
    SET     [DescripcionLarga] = @DescripcionLarga,
    	    [DescripcionCorta] = @DescripcionCorta,
    	    [IndicadorVigencia] = @IndicadorVigencia,
    	    [Nemonico] = @Nemonico,
    	    [CamposAdicionales] = @CamposAdicionales,
    	    [DescripcionCampo1] = @DescripcionCampo1,
    	    [DescripcionCampo2] = @DescripcionCampo2,
    	    [DescripcionCampo3] = @DescripcionCampo3,
    	    [DescripcionCampo4] = @DescripcionCampo4,
    	    [DescripcionCampo5] = @DescripcionCampo5,
    	    [UsuarioModificacion] = @UsuarioModificacion,
    	    [FechaModificacion] = GETDATE()
    WHERE    [IdDominio] = @IdDominio
END


GO
