USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_u_Marca]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_u_Marca
DESCRIPCIÓN      : Permite actualizar un registro en la tabla Marca
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_u_Marca
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_u_Marca]
(
    	@IdMarca INT,
    	@Descripcion VARCHAR(500),
    	@Abreviatura VARCHAR(2),
    	@UsuarioModificacion VARCHAR(100),
    	@FechaModificacion DATETIME
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE [Marca]
    SET     [Descripcion] = @Descripcion,
    	    [Abreviatura] = @Abreviatura,
    	    [UsuarioModificacion] = @UsuarioModificacion,
    	    [FechaModificacion] = @FechaModificacion
    WHERE    [IdMarca] = @IdMarca
END


GO
