USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_u_EstadoArchivo]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_u_EstadoArchivo
DESCRIPCIÓN      : Permite actualizar un registro en la tabla EstadoArchivo
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_u_EstadoArchivo
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_u_EstadoArchivo]
(
	@IdEstado INT,
	@Descripcion VARCHAR(500),
	@Nemonico VARCHAR(50),
	@UsuarioModificacion VARCHAR(100)
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE [EstadoArchivo]
    SET     [Descripcion] = @Descripcion,
    	    [Nemonico] = @Nemonico,
    	    [UsuarioModificacion] = @UsuarioModificacion,
    	    [FechaModificacion] = GETDATE()
    WHERE    [IdEstado] = @IdEstado
END


GO
