USE [ePlanningDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_u_ProductoComparableAntiguo]    Script Date: 9/28/2017 11:46:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
NOMBRE           : usp_u_ProductoComparableAntiguo
DESCRIPCIÓN      : Permite actualizar un registro en la tabla ProductoComparableAntiguo
FECHA CREACIÓN   : 19/09/2017
CREADOR          : DXCTechnology 
SINTAXIS         :  
            usp_u_ProductoComparableAntiguo
******************************************************************************/
CREATE PROCEDURE [dbo].[usp_u_ProductoComparableAntiguo]
(
    	@IdPais TINYINT,
    	@CUC VARCHAR(15),
    	@SAP VARCHAR(9),
    	@CUCAntiguo VARCHAR(15),
    	@SAPAntiguo VARCHAR(9),
    	@BPCSGenericoAntiguo VARCHAR(9),
    	@BPCSTonoAntiguo VARCHAR(9),
    	@DescripcionGenericoAntiguo VARCHAR(500),
    	@DescripcionTonoAntiguo VARCHAR(500),
    	@UsuarioModificacion VARCHAR(100)
)

AS
BEGIN

    SET NOCOUNT ON

    UPDATE [ProductoComparableAntiguo]
    SET     [SAP] = @SAP,
    	    [CUCAntiguo] = @CUCAntiguo,
    	    [SAPAntiguo] = @SAPAntiguo,
    	    [BPCSGenericoAntiguo] = @BPCSGenericoAntiguo,
    	    [BPCSTonoAntiguo] = @BPCSTonoAntiguo,
    	    [DescripcionGenericoAntiguo] = @DescripcionGenericoAntiguo,
    	    [DescripcionTonoAntiguo] = @DescripcionTonoAntiguo,
    	    [UsuarioModificacion] = @UsuarioModificacion,
    	    [FechaModificacion] = GETDATE()
    WHERE    [IdPais] = @IdPais    	AND [CUC] = @CUC
END


GO
